<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>爱夫卡运维后端管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/plugin.css">
  <link rel="stylesheet" href="/static/css/landing.css">

  <!--初始化图标页面要先加载jquery和echarts js-->
  <script src="/static/js/jquery.min.js"></script>
  <!--图形化界面js-->
  <script src="/static/vote_static/js/echarts.min.js"></script>

  <!--[if lt IE 9]>
    <script src="/static/js/ie/respond.min.js"></script>
    <script src="/static/js/ie/html5.js"></script>
  <![endif]-->
</head>
<body>
  <!-- header -->
	<header id="header" class="navbar bg bg-black">
    <ul class="nav navbar-nav navbar-avatar pull-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">            
          <span class="hidden-sm-only">{{ logged_user }}</span>
          <span class="thumb-small avatar inline"><img src="/static/images/avatar.jpg" alt="{{ logged_user }}" class="img-circle"></span>
          <b class="caret hidden-sm-only"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href="/logout/">登出</a></li>
        </ul>
      </li>
    </ul>
    <a class="navbar-brand" href="#"><img src="/static/images/fcar_log.png"></a>
    <button type="button" class="btn btn-link pull-left nav-toggle hidden-lg" data-toggle="class:slide-nav slide-nav-left" data-target="body">
      <i class="icon-reorder icon-xlarge text-default"></i>
    </button>
	</header>
  <!-- / header -->
  <!-- nav -->
  <nav id="nav" class="nav-primary visible-lg nav-vertical">
    <ul class="nav" data-spy="affix" data-offset-top="50">
        <li><a href="/index/"><i class="icon-dashboard icon-xlarge"></i>端口监控</a></li>
        <li><a href="/install_service/"><i class="icon-cloud-upload icon-xlarge"></i>服务安装</a></li>
        <li class="active"><a href="/data_gui/"><i class="icon-off icon-xlarge"></i>数据统计</a></li>
        <li><a href="/ip_interface/"><i class="icon-calendar icon-xlarge"></i>ip管理界面</a></li>
        <li><a href="/GenExcelFile/"><i class="icon-building icon-xlarge"></i>自助修改界面</a></li>
        <li><a href="/docker_service/"><i class="icon-trello icon-xlarge"></i>docker服务列表</a></li>
        <li><a href="/vote/"><i class="icon-bar-chart icon-xlarge"></i>投票界面</a></li>
        <li><a href="/test_environment/"><i class="icon-level-up icon-xlarge"></i>测试环境功能</a></li>
        <li><a href="/timer_snapshot/"><i class="icon-film icon-xlarge"></i>定时快照</a></li>
    </ul>
  </nav>
  <!-- / nav -->
  <section id="content">
    <section class="main padder">
        <div class="col-sm-6" style="margin: 20px auto;" >
            <section class="panel" style=" height: 500px">
				    <div id="main1" class="col-xs-4" style="width: 600px;height:400px;"></div>
					<script type="text/javascript">
						// 基于准备好的dom，初始化echarts实例
						var myChart1 = echarts.init(document.getElementById('main1'));
						$.post("/server_type_count/", {"action":"get_data"},function (result) {
							var option = JSON.parse(result);
							 myChart1.setOption(option);
						});

					</script>
            </section>


        </div>
        <div class="col-sm-6" style="margin: 20px auto;" >
            <section class="panel" style=" height: 500px">
				    <div id="main2" class="col-xs-4" style="width: 600px;height:400px;"></div>
					<script type="text/javascript">
						// 基于准备好的dom，初始化echarts实例
						var myChart2 = echarts.init(document.getElementById('main2'));
						$.post("/os_count/", {"action":"get_data"},function (result) {
							var option = JSON.parse(result);
							 myChart2.setOption(option);
						});

					</script>
            </section>


        </div>
{#        <div class="col-sm-6" style="margin: 20px auto;" >#}
{#            <section class="panel" style=" height: 500px">#}
{#				    <div id="main3" class="col-xs-4" style="width: 600px;height:400px;"></div>#}
{#					<script type="text/javascript">#}
{#						// 基于准备好的dom，初始化echarts实例#}
{#						var myChart3 = echarts.init(document.getElementById('main3'));#}
{#						$.post("/get_vote_data/", {"action":"get_data"},function (result) {#}
{#							var option = JSON.parse(result);#}
{#							 myChart3.setOption(option);#}
{#						});#}
{##}
{#					</script>#}
{#            </section>#}
{##}
{##}
{#        </div>#}
{#        <div class="col-sm-6" style="margin: 20px auto;" >#}
{#            <section class="panel" style=" height: 500px">#}
{#				    <div id="main4" class="col-xs-4" style="width: 600px;height:400px;"></div>#}
{#					<script type="text/javascript">#}
{#						// 基于准备好的dom，初始化echarts实例#}
{#						var myChart4 = echarts.init(document.getElementById('main4'));#}
{#						$.post("/get_vote_data/", {"action":"get_data"},function (result) {#}
{#							var option = JSON.parse(result);#}
{#							 myChart4.setOption(option);#}
{#						});#}
{##}
{#					</script>#}
{#            </section>#}
{##}
{##}
{#        </div>#}
{#        <div class="col-sm-6" style="margin: 20px auto;" >#}
{#            <section class="panel" style=" height: 500px">#}
{#                <input type="button" id="test" value="测试接口" class="btn btn-s-large" >#}
{#            </section>#}
{##}
{##}
{#        </div>#}
    </section>
  </section>
  <!-- footer -->
{#  <footer id="footer">#}
{#    <div class="text-center padder clearfix">#}
{#      <p>#}
{#        <small>&copy; 2017 NTS：<a href="http://www.szfcar.com/" target="_blank">深圳爱夫卡科技股份有限公司</a></small><br><br>#}
{#      </p>#}
{#    </div>#}
{#  </footer>#}
{#  <a href="#" class="hide slide-nav-block" data-toggle="class:slide-nav slide-nav-left" data-target="body"></a>#}
  <!-- / footer -->

  <!--自定义js-->
  <script src="/static/js/myjs_data_gui.js"></script>
  <!-- Bootstrap -->
  <script src="/static/js/bootstrap.js"></script>
  <!-- app -->
  <script src="/static/js/app.js"></script>
  <script src="/static/js/app.plugin.js"></script>
  <script src="/static/js/app.data.js"></script>

  <!-- Sparkline Chart -->
  <script src="/static/js/charts/sparkline/jquery.sparkline.min.js"></script>  
  <!-- Easy Pie Chart -->
  <script src="/static/js/charts/easypiechart/jquery.easy-pie-chart.js"></script>
  <script src="/static/js/ie/excanvas.js"></script>
</body>
</html>