<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>爱夫卡运维后端管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/plugin.css">
    <link rel="stylesheet" href="/static/css/landing.css">
  <!--[if lt IE 9]>
    <script src="/static/js/ie/respond.min.js"></script>
    <script src="/static/js/ie/html5.js"></script>
  <![endif]-->
    <style>
         .covered {
            height: 2000px;
            width: 100%;
            z-index: 99;
            background-color: black;
            opacity: 0.5;
            position: fixed;
             display: none;
         }
    </style>
</head>
<body>
  <!-- header -->
      <!--遮罩层-->
    <div class="covered">
        <div class="col-sm-4" style="margin: 10% 0 0 37%">
            <div class="form-group">
                <label for="software_package_name" style="color: white">软件包名：</label>
                <input type="text" class="form-control" id="software_package_name" disabled>
            </div>
            <div class="form-group">
                <label style="color: white">选择ip：</label>
                <select class="form-control">
                {% for ip in valid_ips %}
                    <option>{{ ip.ipaddr }}</option>
                {% endfor %}
            </select>
            </div>

            <input class="form-control" type="button" value="安装" style="margin: 5% 0 0 35%;width: 30%">
        </div>


    </div>
    <!--遮罩层结束-->
	<header id="header" class="navbar bg bg-black">
    <ul class="nav navbar-nav navbar-avatar pull-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">            
          <span class="hidden-sm-only">{{ logged_user }}</span>
          <span class="thumb-small avatar inline"><img src="/static/images/avatar.jpg" alt="{{ logged_user }}" class="img-circle"></span>
          <b class="caret hidden-sm-only"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href="/logout/">登出</a></li>
        </ul>
      </li>
    </ul>
    <a class="navbar-brand" href="#"><img src="/static/images/fcar_log.png"></a>
    <button type="button" class="btn btn-link pull-left nav-toggle hidden-lg" data-toggle="class:slide-nav slide-nav-left" data-target="body">
      <i class="icon-reorder icon-xlarge text-default"></i>
    </button>
	</header>
  <!-- / header -->
  <!-- nav -->
  <nav id="nav" class="nav-primary visible-lg nav-vertical">
    <ul class="nav" data-spy="affix" data-offset-top="50">
        <li><a href="/index/"><i class="icon-dashboard icon-xlarge"></i>端口监控</a></li>
        <li class="active"><a href="/install_service/"><i class="icon-cloud-upload icon-xlarge"></i>服务安装</a></li>
        <li><a href="/data_gui/"><i class="icon-off icon-xlarge"></i>数据统计</a></li>
        <li><a href="/ip_interface/"><i class="icon-calendar icon-xlarge"></i>ip管理界面</a></li>
        <li><a href="/GenExcelFile/"><i class="icon-building icon-xlarge"></i>自助修改界面</a></li>
        <li><a href="/docker_service/"><i class="icon-trello icon-xlarge"></i>docker服务列表</a></li>
        <li><a href="/vote/"><i class="icon-bar-chart icon-xlarge"></i>投票界面</a></li>
        <li><a href="/test_environment/"><i class="icon-level-up icon-xlarge"></i>测试环境功能</a></li>
        <li><a href="/timer_snapshot/"><i class="icon-film icon-xlarge"></i>定时快照</a></li>
    </ul>
  </nav>
  <!-- / nav -->
  <section id="content">
    <section class="main padder">
      <div class="row">
          <div class="col-sm-4">
            <section class="panel text-center">
                <a class="btn btn-circle"><i class="icon-beer"></i></a>
                <div class="h4">Mysql</div>
                <div class="line m-l m-r"></div>
                <h4 class="text-success"><strong></strong></h4>
                <div class="btn-group dropup">
                    <button class="btn btn-default">安装</button>
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="#">启动</a></li>
                      <li><a href="#">重启</a></li>
                      <li><a href="#">停止</a></li>
                    </ul>
              </div>
              </section>
          </div>
          <div class="col-sm-4">
            <section class="panel text-center">
                <a class="btn btn-circle"><i class="icon-beer"></i></a>
                <div class="h4">Tomcat</div>
                <div class="line m-l m-r"></div>
                <h4 class="text-success"><strong></strong></h4>
                <div class="btn-group dropup">
                    <button class="btn btn-default">安装</button>
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="#">启动</a></li>
                      <li><a href="#">重启</a></li>
                      <li><a href="#">停止</a></li>
                    </ul>
              </div>
              </section>
          </div>
          <div class="col-sm-4">
            <section class="panel text-center">
                <a class="btn btn-circle"><i class="icon-beer"></i></a>
                <div class="h4">Nginx</div>
                <div class="line m-l m-r"></div>
                <h4 class="text-success"><strong></strong></h4>
                <div class="btn-group dropup">
                    <button class="btn btn-default">安装</button>
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="#" >启动</a></li>
                      <li><a href="#">重启</a></li>
                      <li><a href="#" >停止</a></li>
                    </ul>
              </div>
              </section>
          </div>
          </div>

      </div>

    </section>
    </section>


  <!-- footer -->
{#  <footer id="footer">#}
{#    <div class="text-center padder clearfix">#}
{#      <p>#}
{#        <small>&copy; 2017 NTS：<a href="http://www.szfcar.com/" target="_blank">深圳爱夫卡科技股份有限公司</a></small><br><br>#}
{#      </p>#}
{#    </div>#}
{#  </footer>#}
{#  <a href="#" class="hide slide-nav-block" data-toggle="class:slide-nav slide-nav-left" data-target="body"></a>#}
  <!-- / footer -->
	<script src="/static/js/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script src="/static/js/bootstrap.js"></script>
  <!-- app -->
  <!--安装脚本-->
  <script src="/static/js/myjs_install_service.js"></script>

  <script src="/static/js/app.js"></script>
  <script src="/static/js/app.plugin.js"></script>
  <script src="/static/js/app.data.js"></script>

  <!-- Sparkline Chart -->
  <script src="/static/js/charts/sparkline/jquery.sparkline.min.js"></script>  
  <!-- Easy Pie Chart -->
  <script src="/static/js/charts/easypiechart/jquery.easy-pie-chart.js"></script>
  <script src="/static/js/ie/excanvas.js"></script>

</body>
</html>