<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>爱夫卡运维后端管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/plugin.css">
  <link rel="stylesheet" href="/static/css/landing.css">
  <!--[if lt IE 9]>
    <script src="/static/js/ie/respond.min.js"></script>
    <script src="/static/js/ie/html5.js"></script>
  <![endif]-->
    <style>
        .col-sm-12 input {
            margin-top: 2%;

        }
    </style>
</head>
<body>
  <!-- header -->
	<header id="header" class="navbar bg bg-black">
    <ul class="nav navbar-nav navbar-avatar pull-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">            
          <span class="hidden-sm-only">{{ logged_user }}</span>
          <span class="thumb-small avatar inline"><img src="/static/images/avatar.jpg" alt="{{ logged_user }}" class="img-circle"></span>
          <b class="caret hidden-sm-only"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href="/logout/">登出</a></li>
        </ul>
      </li>
    </ul>
    <a class="navbar-brand" href="#"><img src="/static/images/fcar_log.png"></a>
    <button type="button" class="btn btn-link pull-left nav-toggle hidden-lg" data-toggle="class:slide-nav slide-nav-left" data-target="body">
      <i class="icon-reorder icon-xlarge text-default"></i>
    </button>
	</header>
  <!-- / header -->
  <!-- nav -->
  <nav id="nav" class="nav-primary visible-lg nav-vertical">
    <ul class="nav" data-spy="affix" data-offset-top="50">
        <li><a href="/index/"><i class="icon-dashboard icon-xlarge"></i>端口监控</a></li>
        <li><a href="/install_service/"><i class="icon-cloud-upload icon-xlarge"></i>服务安装</a></li>
        <li><a href="/data_gui/"><i class="icon-off icon-xlarge"></i>数据统计</a></li>
        <li><a href="/ip_interface/"><i class="icon-calendar icon-xlarge"></i>ip管理界面</a></li>
        <li><a href="/GenExcelFile/"><i class="icon-building icon-xlarge"></i>自助修改界面</a></li>
        <li><a href="/docker_service/"><i class="icon-trello icon-xlarge"></i>docker服务列表</a></li>
        <li><a href="/vote/"><i class="icon-bar-chart icon-xlarge"></i>投票界面</a></li>
        <li class="active"><a href="/test_environment/"><i class="icon-level-up icon-xlarge"></i>测试环境功能</a></li>
        <li><a href="/timer_snapshot/"><i class="icon-film icon-xlarge"></i>定时快照</a></li>
    </ul>
  </nav>
  <!-- / nav -->
  <section id="content">
    <!--弹出层-->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="margin-left: -33%;margin-right: -23%">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">公司现在测试环境的结构图</h4>
                    </div>
                    <div class="modal-body" >
                        <img src="/static/images/constructions.png">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
    </div>
    <!--弹出层结束-->
    <section class="main padder">
      <div class="row">
        <div class="col-sm-12">
            <section class="panel text-center" style="height: 150px;margin-top: 2%;">
                <header class="panel-heading">192.168.3.212(上传文件名限定为AccountService.jar)</header>
                <div class="col-sm-6">
                    <form method="post" enctype="multipart/form-data" action="/test_environment/" id="jar_form">
                        <input type="file" class="form-control" id="212_replace_jar" name="jar_name" style="width: 60%;float: left">
                        <input type="button" value="上传" class="form-control" style="width:30%;float: left;margin-left: 5px" id="uploader">
                    </form>
                </div>
                <div class="col-sm-6">
                    <input type="button" class="form-control" value="重启account_service服务" id="212_restart_service">
                </div>

            </section>

        </div>
        <div class="col-sm-12">
            <section class="panel text-center" style="height: 150px;margin-top: 2%;">
                <header class="panel-heading">192.168.3.213(FcarBackendWeb.war)</header>
                <div class="col-sm-6">
                    <form method="post" enctype="multipart/form-data" action="/test_environment/" id="webapp_form">
                        <input type="file" class="form-control" id="213_replace_war" name="war_name" style="width: 60%;float: left">
                        <input type="button" value="上传" class="form-control" style="width:30%;float: left;margin-left: 5px" id="war_uploader">
                    </form>
                </div>
                <div class="col-sm-6">
                    <input type="button" class="form-control" value="重启tomcat服务" id="213_restart_service">
                </div>

            </section>

        </div>
        <div class="col-sm-12">
            <section class="panel text-center" style="height: 150px;margin-top: 2%;">
                <header class="panel-heading">192.168.3.212数据库(限定文件名fcsp_account_db.sql)</header>
                <div class="col-sm-6">
                    <form method="post" enctype="multipart/form-data" action="/test_environment/" id="sql_form">
                        <input type="file" class="form-control" id="212_replace_sql" name="sql_name" style="width: 60%;float: left">
                        <input type="button" value="上传" class="form-control" style="width:30%;float: left;margin-left: 5px" id="sql_uploader">
                    </form>
                </div>


            </section>

        </div>
      </div>

    </section>
  </section>
  <!-- / footer -->
  <script src="/static/js/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script src="/static/js/bootstrap.js"></script>
  <!--自定义js-->
  <script src="/static/js/myjs_test_envrionment.js"></script>

  <!-- app -->
  <script src="/static/js/app.js"></script>
  <script src="/static/js/app.plugin.js"></script>
  <script src="/static/js/app.data.js"></script>

  <!-- Sparkline Chart -->
  <script src="/static/js/charts/sparkline/jquery.sparkline.min.js"></script>  
  <!-- Easy Pie Chart -->
  <script src="/static/js/charts/easypiechart/jquery.easy-pie-chart.js"></script>
  <script src="/static/js/ie/excanvas.js"></script>

</body>
</html>